@import 'tailwindcss';

@theme {
  --color-primary: #0f3181;
  --default-font-family: 'Recoleta';
}

.nav-list li {
  @apply font-sans text-white;
  font-family: var(--font-sancreek);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
