@import 'tailwindcss';

@theme {
  --color-primary: #0f3181;
  --color-secondary: #74cee8;
  --default-font-family: 'Recoleta';
}
/* allows us to alter the styles - unlike with utility classes */
.nav-list li {
  color: white;
  font-family: var(--font-sancreek);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 2px 2px black;
}

.nav-list li:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.font-display {
  font-family: var(--font-sancreek);
}
